<?xml version="1.0" encoding="UTF-8"?>
<configuration   scan="true" scanPeriod="60 seconds" debug="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %logger{25} - %M - %p  %msg%n </pattern>
        </encoder>
    </appender>
    <logger name="io.netty.handler.logging.LoggingHandler" level="info" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

<!--    <root level="DEBUG">-->
<!--                <appender-ref ref="console"/>-->
<!--                <appender-ref ref="timeFileOutput"/>-->
<!--        <appender-ref ref="STDOUT"/>-->
<!--    </root>-->

</configuration>